<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${basedir}\nlog.txt" 
      internalLogLevel="Info">

  <extensions>
    <add assembly="NLog.Loki" />
  </extensions>

  <targets>
    <target 
      name="loki"
      xsi:type="loki"
      batchSize="200"
      taskDelayMilliseconds="500"
      endpoint="http://localhost:3100"
      retryCount="3"
      orderWrites="true"
      compressionLevel="fastest"
      layout="${level}|${message}${onexception:|${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}|source=${logger}">
      <label name="app" layout="template" />
    </target>

    <target xsi:type="AsyncWrapper" name="console">
      <target xsi:type="Console" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="loki" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>

</nlog>
